
section {
	h3{
		font-size: 20px;
	}

	h5{
		font-size: 15px;
		color: grey;
		font-family: "georgia";
	}

	h6{
		font-size: 15px;
		font-style: italic;
		color: grey;
		font-family: "georgia";
	}
}

#services{
	background-color: white;
	.container{
		#icons{
			margin-top: 20%;
		}
	}
}

.portfolio {
	margin-top: 10%;
	background-color: #f7f7f7;
	padding-top: 50px;
	padding-bottom: 50px;
	.bloc {
		margin-bottom: 15px;
		background-color: #fff;
		text-align: center;
	}
}

